<div id="settings" class="themes">
  <div class="modal-header">
      <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">테마</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <h3>일반 <span class="selected" ng-show="settings.currentTheme == 'standard'">선택됨</span></h3>
      <p>기본 테마</p>
      <div class="img" style="background-image: url('./css/sample.jpg')" ng-click="settings.selectTheme('standard')"></div>
      <div class="madeBy"><a target="_blank" href="https://github.com/DirtDiglett">Js41637</a> 제작, 기본 디자인: Lalato &amp; Izzepizze</div>
    </div>
    <div class="setting">
      <h3>이벤트 스타일 테마 <span class="selected"  ng-show="settings.currentTheme == 'dirtdiglett'">선택됨</span></h3>
      <p>선택한 이벤트에 맞는 스타일의 테마입니다.</p>
      <div class="img" style="background-image: url('./css/themes/dirtdiglett/sample.jpg')" ng-click="settings.selectTheme('dirtdiglett')"></div>
      <div class="madeBy"><a target="_blank" href="https://github.com/DirtDiglett">DirtDiglet</a> 제작</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">닫기</button>
  </div>
</div>
